.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
Basics of Programming/week 4/.vscode/c_cpp_properties.json
Basics of Programming/week 4/.vscode/launch.json
Basics of Programming/week 4/.vscode/settings.json
Qt test
Experiment of programming/Project1(Calculator)/计算器（分析）
Experiment of programming/Project1(Calculator)/calculator/*
!Experiment of programming/Project1(Calculator)/calculator/.vscode
!Experiment of programming/Project1(Calculator)/calculator/code

**/.vs/
**/Debug/
**/build/